header.navigation(role='banner')
	.navigation-wrapper
		a.logo(href='/')
			img(src='/images/logo.png', alt='Логотип', title='Логотип')
		a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
		nav(role='navigation')
			ul#js-navigation-menu.navigation-menu.show
				li.nav-link
					a.go_to(href='#advantage') О компании
				li.nav-link
					a.go_to(href='#service') Услуги
				li.nav-link
					a.go_to(href='#contact') Контакты
