footer#contact.footer(role='contentinfo')
	.section
		.footer-links
			ul
				li
					h5 Адрес:
				li
					p Астана, улица 38,
				li
					p дом 25, нп 27
			ul
				li
					h5 Контакты:
				li
					p dives_group@mail.ru
				li
					p +7 7172 77 98 70
				li
					p +7 702 408 57 77
				li
					p +7 775 937 31 38
			ul
				li
					h5 График работы:
				li
					p с 09:00 до 18:00
		#map_canvas
		hr
		p
			a(href="http://web-aqua.kz/", target="_blank", title='Перейти на Web-aqua.kz') Разработано компанией Web-aqua
