#advantage
  .section
    h2 Коротко о нас
    p.about ТОО "Dives Group" ваш надежный партнер в сфере обслуживания и ремонта техники медицинского назначения
    #advan
      .advan
        img(src='/images/advantage2.svg', alt='3 года на рынке', title='3 года на рынке')
        p Наша компания успешно конкурирует на рынке уже 3 года
      .advan
        img(src='/images/advantage1.svg', alt='Соответствие нормам', title='Соответствие нормам')
        p Качество выполняемых нами работ соответствует всем нормам и требованиям
      .advan
        img(src='/images/advantage3.svg', alt='Качественная работа', title='Качественная работа')
        p Наша цель качественное обслуживание медицинского оборудования
      .advan
        img(src='/images/advantage4.svg', alt='Опытные специалисты', title='Опытные специалисты')
        p Наш штат состоит из опытных и квалифицированных сотрудников
