#service
  .section
    h3 Услуги нашей компании
    .serv
      img(src='/images/serv1.svg', alt='Обслуживание и ремонт медицинской техники', title='Обслуживание и ремонт медицинской техники')
      h4 Обслуживание и ремонт медицинской техники
      p Монтаж оборудования всегда осуществляют квалифицированные сервисные инженеры, имеющие соответствующие сертификаты и авторизацию от производителей.      
      ul#un
        li проверка всех узлов медицинского аппарата на исправность;
        li калибровка всех систем оборудования до эталонных показаний;
        li замена всех требующих этого запчастей, узлов и датчиков;
        li регулировка основных систем оборудования;
        li чистка аппарата, фильтров и т.д.;
        li проверка работоспособности аппарата и точности показаний (если требуется);
        li измерение и регулировка электрических параметров оборудования.
      p#un.podrik Подробнее
    .serv
      img(src='/images/serv2.svg', alt='Обслуживание и ремонт прачечного оборудования', title='Обслуживание и ремонт прачечного оборудования')
      h4 Обслуживание и ремонт прачечного оборудования
      p Мы имеет немалый опыт в сервисном обслуживании прачечного оборудования, промышленных стиральных машин, машин сухой химической чистки.       
      ul#deux
        li осмотр оборудования;
        li проверка затяжки резьбовых соединений;
        li проверка исправности электроники и всех механизмов;
        li замер сопротивления изоляции электрических цепей;
        li тщательный осмотр и промывка всех механизмов
        li замена всех изношенных деталей;
        li замена смазки всех трущихся частей. 
      p#deux.podrik Подробнее
    .serv
      img(src='/images/serv3.svg', alt='Обслуживание оборудования общественного питания', title='Обслуживание оборудования общественного питания')
      h4 Обслуживание оборудования общественного питания
      p Так же наша компания выполняет комплекс сервисных услуг по техническому обслуживанию оборудования общественного питания.      
      ul#trois
        li технологическое оборудование;
        li тепловое оборудование;
        li холодильное оборудование;
        li электромеханическое оборудование;
        li нейтральное оборудование;
        li санитарно-гигиеническое оборудование;
        li посудомоечное оборудование.
      p#trois.podrik Подробнее
